
*.exe
*.cmake
*.o
Draughts/Draughts
Draughts/Makefile
*.cmake
*.o
Draughts/CMakeFiles/Draughts.dir/depend.internal
Draughts/CMakeFiles/Draughts.dir/depend.internal
*.o
Draughts/CMakeFiles/Draughts.dir/src/model/model.cpp.o
Draughts/CMakeFiles/Draughts.dir/src/main.cpp.o
*.marks
Draughts/CMakeFiles/feature_tests.cxx
Draughts/CMakeFiles/feature_tests.c
Draughts/CMakeFiles/feature_tests.bin
*.make
Draughts/CMakeFiles/Draughts.dir/link.txt
Draughts/CMakeFiles/Makefile2
Draughts/CMakeFiles/TargetDirectories.txt
Draughts/CMakeFiles/Draughts.dir/CXX.includecache
Draughts/CMakeFiles/CMakeOutput.log
*.check_cache
Draughts/CMakeFiles/3.9.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.out
Draughts/CMakeFiles/3.9.2/CompilerIdC/CMakeCCompilerId.c
*.bin
*.plist
